In [ ]:
import pandas as pd
df = pd.read_csv("E:\\CrewKarma\\repository\\ckrepo\\src\\background_jobs\\python\\crewkarma\\datasc
ience\\mockdata\\stock_data.csv")
df

  tickers            eps  revenue price         people  Unnamed: 5
0   GOOGL          27.82       87   845     larry page         NaN
1     WMT           4.61      484    65           n.a.         NaN
2    MSFT             -1       85    64     bill gates         NaN
3     RIL  not available       50  1023  mukesh ambani         NaN
4    TATA            5.6       -1  n.a.     ratan tata         NaN

In [4]:
df = pd.read_csv("E:\\CrewKarma\\repository\\ckrepo\\src\\background_jobs\\python\\crewkarma\\datascience\\mockdata\\stock_data1.csv", skiprows=1 )
df

  tickers            eps  revenue price         people  Unnamed: 5
0   GOOGL          27.82       87   845     larry page         NaN
1     WMT           4.61      484    65           n.a.         NaN
2    MSFT             -1       85    64     bill gates         NaN
3     RIL  not available       50  1023  mukesh ambani         NaN
4    TATA            5.6       -1  n.a.     ratan tata         NaN

In [7]:
df = pd.read_csv("E:\\CrewKarma\\repository\\ckrepo\\src\\background_jobs\\python\\crewkarma\\datascience\\mockdata\\stock_data1.csv", header=1 )
df

  GOOGL          27.82   87   845     larry page  Unnamed: 5
0   WMT           4.61  484    65           n.a.         NaN
1  MSFT             -1   85    64     bill gates         NaN
2   RIL  not available   50  1023  mukesh ambani         NaN
3  TATA            5.6   -1  n.a.     ratan tata         NaN

In [10]:
df = pd.read_csv("E:\\CrewKarma\\repository\\ckrepo\\src\\background_jobs\\python\\crewkarma\\datascience\\mockdata\\stock_data1.csv", header=None )
df

         0              1        2      3              4
0  tickers            eps  revenue  price         people
1    GOOGL          27.82       87    845     larry page
2      WMT           4.61      484     65           n.a.
3     MSFT             -1       85     64     bill gates
4      RIL  not available       50   1023  mukesh ambani
5     TATA            5.6       -1   n.a.     ratan tata

In [12]:
df = pd.read_csv("E:\\CrewKarma\\repository\\ckrepo\\src\\background_jobs\\python\\crewkarma\\datascience\\mockdata\\stock_data1.csv", header=None, names=["tickr","eps","revenue","price","people"] )
df

   tickr            eps  revenue price         people
0  GOOGL          27.82       87   845     larry page
1    WMT           4.61      484    65           n.a.
2   MSFT             -1       85    64     bill gates
3    RIL  not available       50  1023  mukesh ambani
4   TATA            5.6       -1  n.a.     ratan tata

In [15]:
df = pd.read_csv("E:\\CrewKarma\\repository\\ckrepo\\src\\background_jobs\\python\\crewkarma\\datascience\\mockdata\\stock_data1.csv", nrows=3)
df

  tickers    eps  revenue  price      people
0   GOOGL  27.82       87    845  larry page
1     WMT   4.61      484     65        n.a.
2    MSFT  -1.00       85     64  bill gates

In [16]:
df = pd.read_csv("E:\\CrewKarma\\repository\\ckrepo\\src\\background_jobs\\python\\crewkarma\\datascience\\mockdata\\stock_data1.csv", na_values=["not available","n.a."])
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82       87   845.0     larry page
1     WMT   4.61      484    65.0            NaN
2    MSFT  -1.00       85    64.0     bill gates
3     RIL    NaN       50  1023.0  mukesh ambani
4    TATA   5.60       -1     NaN     ratan tata

In [17]:
df = pd.read_csv("E:\\CrewKarma\\repository\\ckrepo\\src\\background_jobs\\python\\crewkarma\\datascience\\mockdata\\stock_data1.csv", na_values={
    'eps': ["not available","na"],
    'revenue': ["not available","na", -1],
    'people': ["not available","na"]
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65           n.a.
2    MSFT  -1.00     85.0    64     bill gates
3     RIL    NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [32]:
df.to_csv('new.csv')

In [19]:
df.to_csv('new.csv', index=False)

In [ ]:
df.to_csv(["new.csv",columns=['tickers','eps']])

In [33]:
df.columns

Index([u'tickers', u'eps', u'revenue', u'price', u'people'], dtype='object')

In [36]:
df.to_csv("new1.csv",columns=['tickers','eps'])

In [37]:
df.to_csv("new2.csv",header=False)

In [40]:
df = pd.read_excel("stock_data.xlsx")
df

  tickers            eps  revenue price         people
0   GOOGL          27.82       87   845     larry page
1     WMT           4.61      484    65           n.a.
2    MSFT             -1       85    64     bill gates
3     RIL  not available       50  1023  mukesh ambani
4    TATA            5.6       -1  n.a.     ratan tata

In [46]:
def convert_people_cell(cell):
    if cell=="n.a.":
            return 'sam walton'
    return cell
def convert_eps_cell(cell):
    if cell=="not available":
            return None
    return cell

df=pd.read_excel("stock_data.xlsx", "Sheet1", converters = {
    'people':convert_people_cell,
    'eps': convert_eps_cell
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3     RIL    NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [50]:
import pandas as pd
df.to_excel("new3.xlsx",sheet_name="stocks")

In [53]:
df.to_excel("new3.xlsx",sheet_name="stocks", startrow=1, startcol=2,index=False)

In [55]:
df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

In [56]:
with pd.ExcelWriter('stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name ="weather")