In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.read_csv('rating_final.csv')
cuisine = pd.read_csv('chefmozcuisine.csv')

In [3]:
frame.head()
#2-best, 0-worst

  userID  placeID  rating  food_rating  service_rating
0  U1077   135085       2            2               2
1  U1077   135038       2            2               1
2  U1077   132825       2            2               2
3  U1077   135060       1            2               2
4  U1068   135104       1            1               2

In [4]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Recommending based on counts

In [10]:
#We're grouping the places by placeID and counting the number of places that most people have rated
rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())

#We're sorting the places to get the place that has the highest number of ratings
rating_count.sort_values('rating', ascending=False).head()

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

In [14]:
#Making a DataFrame of the places that have the higest number of ratings
most_rated_places = pd.DataFrame([135085, 132825, 135032, 135052, 132834], index=np.arange(5), columns=['placeID'])

#Merging witht eh cuisines DataFrame to understand whether there is a relation with the cuisisne served
summary = pd.merge(most_rated_places, cuisine, on='placeID')
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

In [15]:
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object

In [ ]:
#We find out that Mexcican food is pretty dope