In [ ]:
import pandas as pd

india_weather = ({
    "city": ["mumbai","delhi", "bangalore"],
    "temperature": [32,45,30],
    "humidity": [80,60,78]
})

india_weather

{'city': ['mumbai', 'delhi', 'bangalore'],
 'humidity': [80, 60, 78],
 'temperature': [32, 45, 30]}

In [2]:
india_weather = pd.DataFrame({
    "city": ["mumbai","delhi", "bangalore"],
    "temperature": [32,45,30],
    "humidity": [80,60,78]
})

india_weather

        city  humidity  temperature
0     mumbai        80           32
1      delhi        60           45
2  bangalore        78           30

In [3]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  humidity  temperature
0  new york        68           21
1   chicago        65           14
2   orlando        75           35

In [4]:

df = pd.concat([india_weather, us_weather])
df

        city  humidity  temperature
0     mumbai        80           32
1      delhi        60           45
2  bangalore        78           30
0   new york        68           21
1    chicago        65           14
2    orlando        75           35

In [5]:

df = pd.concat([india_weather, us_weather], ignore_index=True)
df

        city  humidity  temperature
0     mumbai        80           32
1      delhi        60           45
2  bangalore        78           30
3   new york        68           21
4    chicago        65           14
5    orlando        75           35

In [9]:
#Code used to give a sort of a header to each data frame
df = pd.concat([india_weather, us_weather], keys=["india","us"])
df

              city  humidity  temperature
india 0     mumbai        80           32
      1      delhi        60           45
      2  bangalore        78           30
us    0   new york        68           21
      1    chicago        65           14
      2    orlando        75           35

In [10]:
df.loc["us"]

       city  humidity  temperature
0  new york        68           21
1   chicago        65           14
2   orlando        75           35

In [18]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi", "bangalore"],
    "temperature": [32,45,30],
    })
temperature_df

        city  temperature
0     mumbai           32
1      delhi           45
2  bangalore           30