In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

In [58]:
dataset = pd.read_csv('2_50_Startups.csv')
X = dataset.iloc[:, :-1].values 
y = dataset.iloc[:, 5].values

In [68]:
print(type(dataset))

<class 'pandas.core.frame.DataFrame'>

In [59]:
pd.DataFrame(X)

          0        1       2                  3                  4
0    165349   136898  471784                 UI                 UX
1    162598   151378  443899    Web Development                NaN
2    153442   101146  407935                 UX     Graphic Design
3    144372   118672  383200                 UX                 UI
4    142107  91391.8  366168                NaN                 UI
5    131877  99814.7  362861  Industrial Design  Industrial Design
6    134615   147199  127717     Graphic Design  Industrial Design
7    130298   145530  323877                 UX    Web Development
8    120543   148719  311613                 UI    Web Development
9    123335   108679  304982     Graphic Design                NaN
10   101913   110594  229161                NaN  Industrial Design
11   100672  91790.6  249745                 UI    Web Development
12  93863.8   127320  249839                 UI                 UX
13  91992.4   135495  252665                 UX                NaN
14   119943   156547  256513     Graphic Design  Industrial Design
15   114524   122617  261776     Graphic Design                NaN
16  78013.1   121598  264346                 UI                 UX
17  94657.2   145078  282574     Graphic Design    Web Development

In [69]:
df_numerical = dataset.iloc[:, 0:3].values
df_categorical = dataset.iloc[:, 3:5].values
#The reason we take 3:5 is because python takes values from 3 to (5-1) here i.e., 3 to 4
# say g:h => g to (h-1) columns are taken
pd.DataFrame(df_categorical)

                    0                  1
0                  UI                 UX
1     Web Development                NaN
2                  UX     Graphic Design
3                  UX                 UI
4                 NaN                 UI
5   Industrial Design  Industrial Design
6      Graphic Design  Industrial Design
7                  UX    Web Development
8                  UI    Web Development
9      Graphic Design                NaN
10                NaN  Industrial Design
11                 UI    Web Development
12                 UI                 UX
13                 UX                NaN
14     Graphic Design  Industrial Design
15     Graphic Design                NaN
16                 UI                 UX
17     Graphic Design    Web Development

<type 'numpy.ndarray'>

In [61]:
# Create MultiLabelBinarizer object
one_hot = MultiLabelBinarizer()

In [62]:
# One-hot encode data
one_hot.fit_transform(df_categorical)

array([[0, 0, 0, 1, 1, 0],
       [1, 0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1, 0],
       [0, 0, 0, 1, 1, 0],
       [1, 0, 0, 1, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 1, 1, 0, 0, 0],
       [0, 0, 0, 0, 1, 1],
       [0, 0, 0, 1, 0, 1],
       [1, 1, 0, 0, 0, 0],
       [1, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 1],
       [0, 0, 0, 1, 1, 0],
       [1, 0, 0, 0, 1, 0],
       [0, 1, 1, 0, 0, 0],
       [1, 1, 0, 0, 0, 0],
       [0, 0, 0, 1, 1, 0],
       [0, 1, 0, 0, 0, 1]])

In [63]:
# View classes
one_hot.classes_

array([nan, 'Graphic Design', 'Industrial Design', 'UI', 'UX',
       'Web Development'], dtype=object)

In [64]:
#df_new = pd.merge(df_numerical, df_categorical)
print(type(df_numerical))

<type 'numpy.ndarray'>

In [65]:
print(type(df_categorical))

<type 'numpy.ndarray'>

In [66]:
df_categorical = df_categorical.to_frame().reset_index()

AttributeError: 'numpy.ndarray' object has no attribute 'to_frame'

In [ ]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
X[:, 3] = labelencoder.fit_transform(X[:, 3])
#Ths number '3' used here os to denote the column number of the categorical value
onehotencoder = OneHotEncoder(categorical_features = [3])
X = onehotencoder.fit_transform(X).toarray()

In [ ]:
np.set_printoptions(suppress=True)
X
Y2=pd.DataFrame(X)
Y2

In [ ]:
# Avoiding the Dummy Variable Trap
X = X[:, 1:] #Removing the first column to avoid the Dummy Variable Trap
X
Y3=pd.DataFrame(X)
Y3

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [ ]:
# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

In [ ]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)
y_pred

In [ ]:
y_test
#Below are the actual values of the csv and above are the predicted values

In [ ]:
pd.DataFrame(X)

In [ ]:
X = np.append(arr = np.ones((50,1)).astype(int), values = X, axis = 1 )
pd.DataFrame(X)

In [ ]:
import statsmodels.formula.api as sm
X = np.append(arr = np.ones((50,1)).astype(int), values = X, axis = 1 )
pd.DataFrame(X)

In [ ]:
import statsmodels.formula.api as sm
X_opt = X[:, [0, 1, 2, 3, 4, 5]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

In [ ]:
X_opt = X[:, [0, 1, 3, 4, 5]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

In [ ]:
X_opt = X[:, [0, 3, 4, 5]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

In [ ]:
X_opt = X[:, [0, 3, 5]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()

In [ ]:
X_opt = X[:, [0, 3]]
regressor_OLS = sm.OLS(endog = y, exog = X_opt).fit()
regressor_OLS.summary()